{{!-- header.hbs --}}

<header class="header d-flex justify-content-between align-items-center p-3">
  {{#if @selected}}
    <button class="btn btn-outline-secondary back-button" type="button" {{on "click" @handleBack}}>
      <FaIcon @icon="arrow-left" />
    </button>
    <a href={{this.link}} target="_blank" class="btn btn-primary" rel="noopener noreferrer">View on Medium</a>
  {{else}}
    {{#if this.iconUrl}}
      <img src={{this.iconUrl}} alt="Icon" class="icon rounded-circle">
    {{else}}
      <h3 class="mb-0">{{@pageTitle}}</h3>
    {{/if}}
    <a href={{this.mediumUrl}} target="_blank" class="btn btn-primary" rel="noopener noreferrer">View Medium</a>
  {{/if}}
</header>
