{{page-title this.pageTitle}}

<Header @pageTitle={{this.pageTitle}} @handleBack={{this.handleBack}} @items={{this.items}}
    @selected={{this.selected}} />
<div class="m-md-3 m-1">
    {{#if this.selected}}
    <Blog @handleBack={{this.handleBack}} @items={{this.items}} @selected={{this.selected}} />
    {{else}}
    <Blogs @items={{this.items}} @handleSelected={{this.handleSelected}} />
    {{/if}}
</div>
<Footer @pageTitle={{this.pageTitle}} @handleBack={{this.handleBack}} @items={{this.items}} @selected={{this.selected}}
    @handleSelected={{this.handleSelected}} />

{{outlet}}
