{{page-title "Zafir's Blogs"}}

<Header @selected={{this.selected}} @handleBack={{this.handleBack}} />
<div class="m-md-3 m-1">
    {{#if this.selected}}
    <Blog @item={{this.selected}} @handleBack={{this.handleBack}} />
    {{else}}
    <Blogs @items={{this.items}} @handleSelected={{this.handleSelected}} />
    {{/if}}
</div>

{{outlet}}